
.custom-link-button-inner {
    background: none !important;
    padding: 5px 0 0 0 !important;
}

.custom-link-button-inner {
    position: relative;
    top: -1rem;
}

.custom-link-button-inner i {
    display: block;
}
